<header>
  <div>
    <h3 class="float-md-start mb-2 text-center">
      <a class="brand upper" href="/">
        <span>Colored Florks (Florkinomics NFTs)</span>
      </a>   
    </h3>
   <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link" aria-current="page" href="https://t.me/Florkinomics">Telegram</a>
            <a class="nav-link" aria-current="page" href="https://florkinomics.com/">Website & NFT Mint</a>

 
    </nav>
  </div>
</header>
